<!--[if !IE]>main_end<![endif]-->
</div>
</div>
<section class="contact_us">
    <div class="container">
        <h2 class="block_main_title">contact us</h2>
        <form action="#" class="clr" id="contact_form">
            <div class="input_group">
                <div id="category-select" class="customselect required" name="Category" data-component="form-input">
                    <button class="title">Question</button>
                    <ul class="option_list">
                        <!-- значение хранится в свойстве data-value -->
                        <li class="option" data-value="option_1">Request a Boost service</li>
                        <li class="option" data-value="option_2">Regarding partnership</li>
                        <li class="option" data-value="option_3">I want to become a booster</li>
                        <li class="option" data-value="option_3">I have another question</li>
                    </ul>
                </div>
            </div>
            <div class="input_group">
                <input type="email" placeholder="Your email" class="required" name="Email" data-component="form-input">
            </div>
            <div class="input_group full_width">
                <textarea placeholder="Message" name="Message" class="required" data-component="form-input"></textarea>
            </div>
            <div class="input_group full_width">
                <button type="submit" class="submit skew">
                    <span class="unskew">Send</span>
                </button>
            </div>
        </form>
        <ul class="soc_menu">
            <li class="skew facebook"><a href="#" target="_blank"><i class="fa fa-facebook unskew"></i></a></li>
            <li class="skew twitter"><a href="#" target="_blank"><i class="fa fa-twitter unskew"></i></a></li>
            <li class="skew google"><a href="#" target="_blank"><i class="fa fa-google-plus unskew"></i></a></li>
        </ul>
    </div>
</section>
<div class="scroll_up_btn">
    <i class="fa fa-arrow-up" aria-hidden="true"></i>
</div>
<!--Start of Tawk.to Script-->
<script type="text/javascript">
    var $_Tawk_API={},$_Tawk_LoadStart=new Date();
    (function(){
        var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
        s1.async=true;
        s1.src='https://embed.tawk.to/57ee3b5e0188071f8b856824/default';
        s1.charset='UTF-8';
        s1.setAttribute('crossorigin','*');
        s0.parentNode.insertBefore(s1,s0);
    })();
</script>
<!--End of Tawk.to Script-->
</body>
</html>