<div class="payment_systems">
    <ul class="container clr">
        <!-- htmlmin:ignore -->
        <li><img src="img/icon_paypal.png" class="responsive_img"></li>
        <li><img src="img/icon_paysafe_card.png" class="responsive_img"></li>
        <li><img src="img/icon_visa.png" class="responsive_img"></li>
        <li><img src="img/icon_mastercard.png" class="responsive_img"></li>
        <br>
        <li><img src="img/icon_webmoney.png" class="responsive_img"></li>
        <li><img src="img/icon_liqpay.png" class="responsive_img"></li>
        <li><img src="img/icon_maestro.png" class="responsive_img"></li>
        <li><img src="img/icon_discover.png" class="responsive_img"></li>
        <!-- htmlmin:ignore -->
    </ul>
</div>
<section class="contact_us">
    <div class="container">
        <h2 class="block_main_title">contact us</h2>
        <form action="#" class="clr">
            <div class="input_group">
                <div id="category-select" class="customselect" name="Category" data-component="form-input">
                    <button class="title">Question</button>
                    <ul>
                        <!-- значение хранится в свойстве data-value -->
                        <li data-value="option_1">Question</li>
                        <li data-value="option_2">Other</li>
                        <li data-value="option_3">Other</li>
                        <li data-value="option_4">Other</li>
                        <li data-value="option_5">Other</li>
                    </ul>
                </div>
            </div>
            <div class="input_group">
                <input type="email" placeholder="Your email" class="required" name="Email" data-component="form-input">
            </div>
            <div class="input_group full_width">
                <textarea placeholder="Message" name="Message" data-component="form-input"></textarea>
            </div>
            <div class="input_group full_width">
                <button type="submit" class="submit skew">
                    <span class="unskew">Send</span>
                </button>
            </div>
        </form>
        <ul class="soc_menu">
            <li class="skew facebook"><a href="#"><i class="fa fa-facebook unskew"></i></a></li>
            <li class="skew twitter"><a href="#"><i class="fa fa-twitter unskew"></i></a></li>
            <li class="skew google"><a href="#"><i class="fa fa-google-plus unskew"></i></a></li>
        </ul>
    </div>
</section>
</body>
</html>