<nav class="closed menu clr container" id="main_menu">
    <div class="navbar_header clr">
        <h1 class="clr">
            <a href="/" class="navbar_brand"><img class="responsive_img" src="img/logo.png" alt="Boosting Club logo"></a>
        </h1>
        <button class="dropdown_toggle" data-component="dropdown_toggle">
            <span class="icon_bar"></span>
            <span class="icon_bar"></span>
            <span class="icon_bar"></span>
        </button>
    </div>
    <div class="dropdown_container clr">
        <div class="dropdown_bar clr">
            <ul class="menu_bar clr skew">
                <li>
                    <a class="home" href="/">
                        <span class="unskew">home</span>
                    </a>
                </li>
                <li>
                    <a class="boosting" href="#">
                        <span class="unskew">league boosting</span>
                    </a>
                </li>
                <li>
                    <a class="services" href="#">
                        <span class="unskew">services</span>
                    </a>
                </li>
                <li>
                    <a class="team" href="team.html">
                        <span class="unskew">Meet the team</span>
                    </a>
                </li>
                <li>
                    <a class="faq" href="#">
                        <span class="unskew">faq</span>
                    </a>
                </li>
                <li>
                    <a class="contact" href="#">
                        <span class="unskew">contact</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>