<div class="form_container half_width">
    <div class="personal_data">
        <div class="block_title">YOUR DATA</div>
        <div class="row clr">
            <div class="input_group">
                <input type="text" placeholder="Name*" class="required" name="Name" data-component="form-input">
            </div>
            <div class="input_group">
                <input type="email" placeholder="Email*" class="required" name="Email" data-component="form-input">
            </div>
        </div>
    </div>
    <div class="order">
        <div class="block_title">YOUR order</div>
        <ul>
            <li class="display_description">Division Boost: Silver (Division V) -> Silver (Division IV)</li>
            <li class="display_price">Total Cost: <strong>16&euro;</strong></li>
        </ul>
    </div>
    <form action="#" class="clr">
        <div class="input_group">
            <button class="submit skew" type="submit"><span class="unskew">Confirm &amp; Pay</span></button>
        </div>
        <div class="input_group">
            <img src="img/payment_systems_img.png" class="responsive_img img_submit" alt="">
        </div>
    </form>
</div>