<div class="payment_systems">
    <ul class="container clr">
        <!-- htmlmin:ignore -->
        <li><img src="img/payment_systems/icon_paypal.png" class="responsive_img"></li>
        <li><img src="img/payment_systems/icon_paysafe_card.png" class="responsive_img"></li>
        <li><img src="img/payment_systems/icon_visa.png" class="responsive_img"></li>
        <li><img src="img/payment_systems/icon_mastercard.png" class="responsive_img"></li>
        <br>
        <li><img src="img/payment_systems/icon_webmoney.png" class="responsive_img"></li>
        <li><img src="img/payment_systems/icon_liqpay.png" class="responsive_img"></li>
        <li><img src="img/payment_systems/icon_maestro.png" class="responsive_img"></li>
        <li><img src="img/payment_systems/icon_discover.png" class="responsive_img"></li>
        <!-- htmlmin:ignore -->
    </ul>
</div>